body {
    background-color: #EEEEEE;
}
md-content {
    background-color: #EEEEEE;
}
.centered {
    text-align: center;
}
.justified {
    text-align: justify;
}
.margin_top {
    margin-top: 40px;
}