<div layout="row" layout-align="center start" class="margin_top">
	<md-card>
		<md-card-content class="centered">
			<h1 class="md-title">Welcome buddy!</h1>
			<p class="justified">
				This is a demo application which uses Angular framework and material design patterns
			</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="center center">
			<md-button class="md-raised md-primary" ui-sref="start.signin">SignIn</md-button>
			<md-button ng-disabled="true" class="md-raised md-primary" ui-sref="start.signup">SignUp</md-button>
		</div>
	</md-card>
</div>